# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
joblib
scikit-learn
numpy
pandas
sqlalchemy
psycopg2-binary
python-dotenv
requests

astro-run-dag
fastapi
uvicorn
sqlalchemy
psycopg2-binary

pandas
numpy
scikit-learn
xgboost

streamlit
streamlit-autorefresh

langchain
langchain-groq
groq

python-dotenv
requests

python-telegram-bot

pydantic

joblib

python-multipart

docker
joblib