fastapi
uvicorn
sqlalchemy
psycopg2-binary

pandas
numpy
scikit-learn
xgboost

streamlit
streamlit-autorefresh

langchain
langchain-groq
groq

python-dotenv
requests

python-telegram-bot

pydantic

joblib

python-multipart

docker